[class*="btn"].btn-style-3 {
    background: goldenrod;
}

.scaption-dark-large {
    color: #ffffff
}

.challenge-item .item-title,
.challenge-item .item-country,
.challenge-item .item-title a {
    color: #ffffff;
    line-height: 52px;
}

.breadcrumbs-wrap {
    background: url('/images/abdura_banner.png');
    width: 100%;
}

.banner-3 {
    background: url('/images/indian-yogi_banner.jpg');
}

.btn-center {
    display: block;
    text-align: center;
}

#logo-light {
    display: none;
}

#logo-dark {
    display: block;
}

.corporate_program .page-content-wrap {
    padding: 10px 0;
}

.page-section-bg.parallax-section.container.imgNew {
    height: 500px;
}

.container.img1,
.container.img2,
.container.img3,
.container.img4,
.container.img6,
.container.img10 {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
}

.corporate_program .top-left {
    position: absolute;
    top: 8px;
    transform: translate(20%, 60%);
}

.corporate_program .top-left h3 {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.containerImg1.bottom-left img,
.containerImg6.bottom-left img,
.containerImg7.bottom-left img,
.containerImg8.bottom-left img,
.containerImg9.bottom-left img {
    bottom: 0px;
    position: absolute;
    left: 14px;
}

.corporate_program .bottom-left img {
    width: calc(100% - 80%);
}

.container.img2 .row {
    background-image: url(../../../images/logo-min.png);
    background-repeat: no-repeat;
    background-position: -252px -34px;
    background-size: 515px 390px;
}

.container.img2 .slide2 {
    border: 1px solid;
    height: 550px;
    display: block;
}

.containerImg2.bottom-left img {
    width: calc(100% - 80%);
    bottom: 0px;
    top: 85%;
    position: absolute;
    left: 0%;
}

.containerImg2.centered {
    bottom: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -44%);
    width: 75%;
}

.borderContainer {
    border: 1px solid;
}

.container.img3 .row {
    margin-right: -1.5% !important;
    margin-left: -2.7% !important;
}

.img3TextBlock {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    transform: translate(0%, 40%);
}

.img3TextBlock h3 {
    text-align: justify;
}

.container.img3Text ul li {
    text-align: start;
    transform: translate(5em, 10px);
    background: url(../../../images/rtambharaLogo_list-min_optimised.png) no-repeat 7px 3px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 1px 2px 32px;
    vertical-align: middle;
}

.containerImg3.bottom-left {
    clear: both;
}

.containerImg3.bottom-left img {
    position: absolute;
    top: 85%;
    width: calc(100% - 60%);
    left: 1%;
}

.container.img3Text {
    position: absolute;
    top: 25%;
}

.container.img3Text h3 {
    text-align: initial;
}

.container.img3 img.quantumShift {
    float: left;
}

.containerImg4.bottom-left {
    clear: both;
}

.containerImg4.bottom-right img {
    position: absolute;
    top: 77%;
    width: calc(100% - 82%);
    right: 10px;
}

.containerTxt.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 4%;
    color: #ffffff;
    width: 50%;
    text-align: initial;
}

.containerTxt.bottom-left h6,
.containerTxt.bottom-left h5 {
    color: #ffffff;
}

.container.img6 .containerTxt.centered,
.container.img8 .containerTxt.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.container.img6 .containerTxt.centered h5,
.container.img6 .containerTxt.centered h6,
.container.img8 .containerTxt.top-left h3,
.container.img8 .containerTxt.centered h5,
.container.img8 .containerTxt.centered h6,
.container.img9 .containerTxt.top-left h3 {
    color: #ffffff;
}

.container.img7.imgNew.page-section-bg.parallax-section,
.container.img9.imgNew.page-section-bg.parallax-section {
    height: auto;
}

.container.img7.imgNew h3 {
    color: #ffffff;
}

.container.img7.imgNew h5,
.container.img7.imgNew h6,
.container.img9.imgNew h5,
.container.img9.imgNew h6 {
    color: #ffffff;
    font-size: 0.9em;
}

.container.img10 img.feedback {
    float: left;
}

.container.img10 .row {
    margin-right: -1.5% !important;
    margin-left: -2.7% !important;
}

.img10TextBlock {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    transform: translate(0%, 40%);
}

.img10TextBlock h3 {
    text-align: justify;
}

.container.img10Text {
    position: absolute;
    top: 25%;
}

.container.img10Text h3 {
    text-align: initial;
}

.containerImg10.bottom-left img {
    position: absolute;
    top: 86%;
    width: calc(100% - 60%);
    left: 1%;
}